body {
   overflow-x: hidden;
}

.dropdown-menu {
   margin: 0 !important;
}

.pointer {
   cursor: pointer;
}

.sidebar svg,
.navbar svg {
   width: 18px;
}

.object-fit-cover {
   object-fit: cover;
}
