body {
   overflow-x: hidden;
}

.dropdown-menu {
   margin: 0 !important;
}

.dropdown .dropdown-menu {
   top: 100% !important;
}

.pointer {
   cursor: pointer;
}

.object-fit-cover {
   object-fit: cover;
}

svg {
   width: 18px;
}

svg.sm {
   width: 14px;
}

svg.lg {
   width: 24px;
}
